<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div id="liveView" class="videoView">
			<button id="webcamButton" class="mdc-button mdc-button--raised">
				<span class="mdc-button__ripple"></span>
				<span class="mdc-button__label">ENABLE WEBCAM</span>
			</button>
			<div style="position: relative;">
				<video
					id="webcam"
					style="width: 1280px; height: 720px; position: abso"
					autoplay
					playsinline></video>
				<canvas
					class="output_canvas"
					id="output_canvas"
					width="1280"
					height="720"
					style="position: absolute; left: 0px; top: 0px;"></canvas>
			</div>
		</div>

		<script src="../static/vision.ts"></script>
	</body>
</html>
