---
import Layout from '../layouts/Layout.astro';
import App from '../components/react/App';
---

<Layout title="Welcome to Realm.">
	<main>
		<App client:only="react" />
	</main>
</Layout>

<style is:global>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	.player {
		position: absolute;
		width: 240px;
		top: 120px;
	}
</style>
