---
import SvelteDemo from "../components/SvelteDemo.svelte";
import styles from "../public/smui.css?url";
---

<html>
  <head>
    <title>Svelte Demo</title>
    <link rel="stylesheet" href={styles} />
  </head>
  <body>
    <h1>Svelte Demo</h1>
    <SvelteDemo client:load />
  </body>
</html>
