---
import SvelteDemo from "../components/SvelteDemo.svelte";
---

<html>
  <head>
    <title>Svelte Demo</title>
  </head>
  <body>
    <h1>Svelte Demo</h1>
    <SvelteDemo client:load />
  </body>
</html>
